name: learn-github-actions
run-name: ${{ github.actor }} is learning Github Actions
on: [push]
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    # Setup Python version
    - uses: actions/checkout@v5
    - name: Set up Python 3.13
      uses: actions/setup-python@5
      with:
        python-version: 3.13
    # Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install uv
        uv sync --active
    # Test
    - name: Test with pytest
      run: |
        pytest